@font-face {
    font-family: 'Open Sans';
    src: url('../design/fonts/opensans.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../design/fonts/opensans-light.ttf');
}

@font-face {
    font-family: 'Meticu';
    src: url('../design/fonts/meticu.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-smoothing:antialiased;
    height: 100%;
    font-size: 1.1em;
    background: url('../design/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#page{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
}

/*********************************************/
/*          HEADER                          */

#page #header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 1em 1em;

    /*change 1*/
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(30, 30, 30, 1);
}

#page #header .logo{
   flex: 0;
}

#page #header .logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

#page #header .logo a img{
    width: 90px;
}

#page #header .logo a .title {
    color: #FFFFFF;
    margin-left: 0.3em;
    letter-spacing: 1px;
    font-size: 36px;
    font-family: 'Open Sans';
}

#page #header .menu{
    text-align: right;
    flex: 1;
}

#page #header .menu a{
    color: white;
    margin-right: 0.5em;
    font-family: 'Open Sans';
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.3em;
    border-bottom: 2px solid transparent;
    transition: border-color 1s ease;
}

#page #header .menu a:last-child {
    margin-right: 0px;
}

#page #header .menu a:hover  { border-color: white; }
#page #header .menu a.active { border-color: white; }

#page #header #headerBorder {
    /*change 1*/

    /*width: 100%;
    margin: 0 auto;
    margin-top: 0.7em;
    height: 1px;

    background: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) -50%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 150%);*/
}

/*********************************************/
/*          CONTENT                         */

#page #mainContent{
    flex: 1;
    display: flex;
    align-items: center;

    padding: 1em 0em;
}

#page #mainContent .mainWrap{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    color: white
}

#page #mainContent .mainWrap .mainBorder{
    width: 30%;
    margin: 0 auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128,128, 128, 0.75), rgba(128, 128, 128, 0));
}

#page #mainContent .mainWrap .mainTitle{
    color: white;
    margin-top: 1em;
    text-align: center;
}

#page #mainContent .mainWrap .intro, p{
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: white;
    font-family: 'Open Sans Light';
}

#page #mainContent .mainWrap .contactButton{
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 1em;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.4);
}

#page #mainContent .mainWrap .contactButton:hover{
    border-color: red;
}

#page #mainContent .mainWrap #kontakt-form {
  text-align: center;
}

#page #mainContent .mainWrap #kontakt-form .col-flex {
    display: flex;
    flex-wrap: wrap;
}

#page #mainContent .mainWrap #kontakt-form .col-flex .col{
   flex: 1;
   margin-right: 1em;
}
#page #mainContent .mainWrap #kontakt-form .col-flex .col:last-child{
   margin-right: 0px;
}

#page #mainContent .mainWrap #kontakt-form .col-flex .col .row{
    display: flex;
    margin-bottom: 1.5em;
}

#page #mainContent .mainWrap #kontakt-form .col .row label{
    padding: 0.5em;
    border: 1px solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1;
}

#page #mainContent .mainWrap #kontakt-form input, select, textarea{
    font-size: 16px;
    padding: 0.5em 0.5em;
    flex: 3;
}

#page #mainContent .mainWrap #kontakt-form textarea {
    height: 5.6em;
    flex: 1;
}

#page #mainContent .mainWrap #kontakt-form input[type="submit"] { padding: 1em; }
#page #mainContent .mainWrap #kontakt-form input[type="submit"]:hover { cursor: pointer; border-color: green; }


/*********************************************/
/*          FOOTER                          */

#page #foot{
    padding: 0.5em 1em;
}

#page #foot .socialSites i{
    color: white;
    margin-right: 0.5em;
    font-size: 1.3em;
}

#page #foot .socialSites .ico-envelope:hover {color: rgb(100, 255, 0);}
#page #foot .socialSites .ico-twitter:hover  {color: rgb(0, 200, 255);}
#page #foot .socialSites .ico-facebook:hover {color: rgb(0, 100, 255);}

@media screen and (max-width: 768px) {
    
}